/*div.css-12w0qpk.e1tzin5v2{
    background-color: #EEEEEE;
    border: 1px solid whitesmoke;
    padding: 20px 20px 20px 70px; 
    padding: 5% 5% 5% 10%;
    border-radius: 10px;
    font-col
}*/

div.stapp.css-ffhzg2.eczokvf0{
        background-color: #808080;
}